<h2>Search Customer</h2>
<form action="/crm/customers" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% customers.forEach(customer => { %>
    <div><%= customer.name %> 
        <%= customer.phone %> 
        <%= customer.email %> 
        <%= customer.address %></div>
    <br>
<% }) %>