<div>
    <label>Chart</label>
    <select name="chart">
        <% charts.forEach(chart => { %>
          <% if (chart.id === checkout.chart) { %>
            <option selected label="<%= chart.id charch.total %>" value="<%= chart.id %>">
          <% } else { %>
            <option label="<%= chart.id charch.total %>" value="<%= chart.id %>">
          <% } %>
        <% }) %>
        </select>
</div>
<div>
    <label>Total</label>
    <input type="tel" name="total" value=""><%= chart.total %>
</div>